<a href="https://colab.research.google.com/github/nomanzahir/Artificial-Intelligence-Lab/blob/main/lab%204.5/Lab4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a list of fruits
fruits = ['apple', 'banana', 'orange', 'mango', 'grapefruit']

# Print the first item
print(fruits[0])

# Print the last item
print(fruits[-1])

apple
grapefruit

In [ ]:
# Create a list of colors
colors = ['red', 'green', 'yellow', 'purple', 'black']

# Change the second item to "blue"
colors[1] = 'blue'

# Print the updated list
print(colors)

['red', 'blue', 'yellow', 'purple', 'black']

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Add the number 10 at the end of the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 5, 10]

In [ ]:
# Create a list of animals
animals = ['cat', 'dog', 'elephant', 'tiger', 'lion']

# Remove the third item from the list
animals.pop(2)

# Print the updated list
print(animals)

['cat', 'dog', 'tiger', 'lion']

In [ ]:
# Create a list of cities
cities = ['London', 'Paris', 'New York', 'Tokyo', 'Sydney']

# Loop through the list and print each city
for city in cities:
  print(city)

London
Paris
New York
Tokyo
Sydney

In [ ]:
# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Create a new list containing the square of each number using list comprehension
squared_numbers = [number ** 2 for number in numbers]

# Print the new list
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Create a list of names
names = ['Azeem', 'noman', 'Bilal', 'laiba', 'rabia']

# Sort the list alphabetically
names.sort()

# Print the sorted list
print(names)

['Azeem', 'Bilal', 'laiba', 'noman', 'rabia']

In [ ]:
# Create a list of fruits
fruits = ['apple', 'banana', 'orange', 'mango', 'grapefruit']

# Copy the list into a new list
fruits_copy = fruits.copy()

# Print the new list
print(fruits_copy)

['apple', 'banana', 'orange', 'mango', 'grapefruit']

In [ ]:
# Create two lists of numbers
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Join the two lists into a single list
combined_list = list1 + list2

# Print the combined list
print(combined_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Create a list of fruits
fruits = ['apple', 'banana', 'orange', 'mango']

# Use the append() method to add a new fruit to the list
fruits.append('grapefruit')

# Use the pop() method to remove the last fruit from the list
fruits.pop()

# Print the updated list
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [ ]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

# Create a new list using list comprehension to sum corresponding elements
summed_list = [x + y for x, y in zip(list1, list2)]

# Print the new list
print(summed_list)

[7, 9, 11, 13, 15]

In [ ]:
# Create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a new list containing only the even numbers using list comprehension
even_numbers = [number for number in numbers if number % 2 == 0]

# Sort the new list in descending order
even_numbers.sort(reverse=True)

# Print the new list
print(even_numbers)

[10, 8, 6, 4, 2]

In [ ]:
# Create a list of numbers from 1 to 10
numbers = list(range(1, 11))

# Create a new list containing only the even numbers in reverse order using list slicing
even_numbers_reversed = numbers[::2][::-1]

# Print the new list
print(even_numbers_reversed)

[9, 7, 5, 3, 1]

In [ ]:
# Create two lists
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]

# Combine the two lists into a single list, alternating between even and odd numbers
combined_list = []
for i in range(len(even_numbers)):
    combined_list.append(even_numbers[i])
    combined_list.append(odd_numbers[i])

# Print the combined list
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]