<a href="https://colab.research.google.com/github/nomanzahir/Artificial-Intelligence-Lab/blob/main/lab%252002/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TASK NO 1**

In [12]:
#Int Data Type Example
d=22
f=11
g=55
h=23
i=65
print(d,f,g,h,i)
print(type(d))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

22 11 55 23 65
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
#float Data Type
a=11.1
b=22.1
g=54.1
j=22.1
l=22.1
print(a,b,g,j,i)
print(type(a))
print(type(b))
print(type(g))
print(type(j))
print(type(l))

11.1 22.1 54.1 22.1 65
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [14]:
#complex Data type
d=22+8j
f=11+2j
g=55j
h=23j
i=65+8j
print(d,f,g,h,i)
print(type(i))
print(type(d))
print(type(f))
print(type(g))
print(type(h))

(22+8j) (11+2j) 55j 23j (65+8j)
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

TASK NO **2**

In [15]:
#String to Integer
a = '10'
b = int(a)
print(b)  # Output: 10

10

In [16]:
#Integer to Float:
a = 10
b = float(a)
print(b)  # Output: 10.0

10.0

In [17]:
#Float to String:
a = 10.1
b = str(a)
print(b)  # Output: '10.1'

10.1

TASK NO 3

In [19]:
#Assign multiple strings to single variable
details = """
Name: NOHMAN ZAHIR
Registration Number: 1234567890
Program: Computer Science
Semester: 5
"""

print(details)

Name: NOHMAN ZAHIR
Registration Number: 1234567890
Program: Computer Science
Semester: 5

TASK NO 4

In [20]:
#access the last 3 characters
country = "India"
last_3_chars = country[-3:]
print(last_3_chars)

dia

TASK NO 5

In [21]:
#using len() function
string = "Hello World"
string_with_spaces = "Hello World "

print(f"Length of 'Hello World': {len(string)}")
print(f"Length of 'Hello World ': {len(string_with_spaces)}")

Length of 'Hello World': 11
Length of 'Hello World ': 12

**TASK NO 6**

In [23]:
#ccess the 2nd and 3rd character
my_name = "Nohman"

second_last_char = my_name[-2]
third_last_char = my_name[-3]

print(f"Second last character: {second_last_char}")
print(f"Third last character: {third_last_char}")

Second last character: a
Third last character: m

TASK NO 7

In [26]:
#With index numbers:
name = 'NOHMAN'
age = 30
city = 'PAKISTAN'

text = "My name is {0}, I am {1} years old and I live in {2}".format(name, age, city)

print(text)

My name is NOHMAN, I am 30 years old and I live in PAKISTAN

In [27]:
#Without index numbers:
name = 'NOHMAN'
age = 30
city = 'PAKISTAN'

text = "My name is {}, I am {} years old and I live in {}".format(name, age, city)

print(text)

My name is NOHMAN, I am 30 years old and I live in PAKISTAN

TASk NO 8

In [28]:
# Take input from user
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Display the input
print(f"{name} age is: {age}")

Enter your name: NOHMAN
Enter your age: 30
NOHMAN age is: 30